[submodule "win32/deps/modernlib"]
	path = win32/deps/modernlib
	url = git@github.com:djndl1/modernlib.git
[submodule "unix/deps/modernlib"]
	path = unix/deps/modernlib
	url = git@github.com:djndl1/modernlib.git
